@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700');

* {
    background-color: #EFEBE7;
    font-family: 'Fira Code', monospace;
}

.display-flex {
    display: flex;
}

.saiba-mais {
    flex-direction: column;
    display: flex;
    width: 60%;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
    margin: 50px 0px 0px 20%;
}

.about-button {
    margin-top: -10px !important;
    cursor: pointer;
    height: 30px;
    background-color: #ADD9C8;
    border: 1px solid black;
    padding: 10px 40px 0px 40px;
}

#si401 {
    font-size: 30px;
    margin-top: -10px !important;
}

header {
    color: #000000; 
    margin: 30px 0px 30px 0px;
}

nav {
    display: flex; 
    width: 100%;
    justify-content: space-between;
}

nav a {
    color: #000000 !important;
    text-decoration: none; 
    margin: 0 10px;
}

.display-flex {
    display: flex;
}

.green-title {
    color: #547266;
    font-size: 40px;
    text-decoration: underline 1px;
}

.saiba-mais a {
    color: #547266;
}

.images {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;  
    margin-left: 250px;
    margin-top: 20px;
}
